* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    --w : white;
    --b : black;
    --g : grey;
    --gr : rgb(200, 200, 200);
    --y : rgb(188, 181, 0);;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100vh;
    color: var(--w);
}

header video {
    height: 100%;
    width: 100%;
}

header nav {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: var(--w);
    box-shadow: 0 1px 10px var(--b);
    z-index: 9;
}

header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

#a {
    height: 60px;
    width: 60px;
    background-image: url(./asd.jpg);
    background-size: 100% 100%;
}

.links {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: var(--y);
}

#s {
    margin-left: 100px;
}

.btn {
    border: none;
    padding: 14px;
    background-color: var(--y);
}

.btn .links {
    color: var(--w);
}

section {
    width: 100%;
    flex-grow: 1;
}
/* main 1 */

section .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

section .main .mh {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .main .mh h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 20px;
    font-size: 300%;
    color: var(--g);
}

.aft, .bef {
    font-family: 'Courier New', Courier, monospace;
    height: 0.4vh;
    width: 10%;
    background-color: var(--g);
}

section .main .mp {
    text-align: center;
    width: 50%;
}

section .main .dimg {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

.dimg div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dimg div img {
    width: 99%;
    height: 60vh;
}

.dimg div span {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    position: relative;
    bottom: 10vh;
    font-size: 25px;
    color: var(--w);
}
/* main1 end */
/* main2  */

section .main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
section .main2 .m2h{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
section .main2 .m2h .mh {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section .main2 .m2h .mh h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 10px;
    font-size: 300%;
    color: var(--g);
}

.aft, .bef {
    font-family: 'Courier New', Courier, monospace;
    height: 0.4vh;
    width: 10%;
    background-color: var(--g);
}

section .main2 .mp {
    margin: 0 10px;
    width: 50%;
}

section .main2 .dimg2 {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dimg2 .data {
    display: flex;
    flex-direction: column;
}

.dimg2 .data img {
    width: 99%;
    height: 60vh;
}

.dimg2 .data span {
    margin: 0 30%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    width: 70%;
    bottom: 5vh;
    font-size: 18px;
    background-color: var(--w);
    box-shadow: -10px 5px 10px var(--b);
}
.dimg2 .data span p{
    color: var(--g);
}
.dimg2 .data span a{
    color: var(--y);
}
/* main2 end */
/* main3  */

section .main3 {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(./cmmoon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
section .main3 .m2h{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
section .main3 .m2h .mh {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .main3 .m2h .mh h1 {
    text-align: center;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 10px;
    font-size: 300%;
    color: var(--gr);
}

.aft3, .bef3 {
    font-family: 'Courier New', Courier, monospace;
    height: 0.4vh;
    width: 10%;
    background-color: var(--gr);
}

section .main3 .mp {
    color: var(--g);
    margin: 0 10px;
    width: 50%;
}
section .main3 .slider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.slider .left{
font-size: 20px;
display: flex;
align-items: center;
}
.left p{
    padding: 10px 0;
    position: relative;
    text-align: center;
    height: 50px;
    width: 50px;
    color: var(--gr);
    border: 1px solid var(--gr);
    border-radius: 50%;
    background-color: var(--g);
}
.left span{
    margin: 0 30px;
    color: var(--gr);
}
.slider .center{
background-color: var(--w);
}
.center .datai{
    color: var(--g);
    text-align: center;
    padding: 30px;
}
.datai h6{
    padding-bottom: 10px;
    font-size: 20px;
}
.datai p{
    padding: 10px 0;
}
.datai a{
    padding-top: 10px;
    color: var(--y);
}

.slider .center img{
width: 40vw;
height: 50vh;
}
.slider .right{
font-size: 20px;
display: flex;
align-items: center;
justify-content: flex-end;
}
.right p{
    padding: 10px 0;
    position: relative;
    text-align: center;
    height: 50px;
    width: 50px;
    color: var(--gr);
    border: 1px solid var(--gr);
    border-radius: 50%;
    background-color: var(--g);
}
.right span{
    margin: 0 30px;
    color: var(--gr);
}

/* main3 end */
/* main4 */

section .main4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
section .main4 .m2h{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
section .main4 .m2h .mh {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .main4 .m2h .mh h1 {
    text-align: center;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 10px;
    font-size: 300%;
    color: var(--gr);
}

.aft3, .bef3 {
    font-family: 'Courier New', Courier, monospace;
    height: 0.4vh;
    width: 10%;
    background-color: var(--gr);
}

section .main4 .mp {
    color: var(--g);
    margin: 0 10px;
    width: 50%;
}
section .main4 .dimg2 {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dimg2 .data {
    display: flex;
    flex-direction: column;
}

.dimg2 .data img {
    width: 99%;
    height: 60vh;
}

.dimg2 .data span {
    margin: 0 30%;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    width: 70%;
    bottom: 5vh;
    font-size: 18px;
    background-color: var(--w);
    box-shadow: -10px 5px 10px var(--b);
}
.dimg2 .data span p{
    color: var(--g);
}
.dimg2 .data span a{
    color: var(--y);
}

/* main4 end */

/* main5 */

section .main5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}
section .main5 .m2h{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
section .main5 .m2h .mh {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .main5 .m2h .mh h1 {
    text-align: center;
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 10px;
    font-size: 300%;
    color: var(--gr);
}

.aft3, .bef3 {
    font-family: 'Courier New', Courier, monospace;
    height: 0.4vh;
    width: 10%;
    background-color: var(--gr);
}

section .main5 .mp {
    color: var(--g);
    margin: 0 10px;
    width: 50%;
}
.mp a{
    color: var(--y);
}
section .main5 .dimg2 {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dimg2 .data {
    display: flex;
    flex-direction: column;
}

.dimg2 .data img {
    width: 99%;
    height: 60vh;
}

 .main5.dimg2 .data span {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    font-size: 18px;
    background-color: var(--w);
    box-shadow: -10px 5px 10px var(--b);
}
.dimg2 .data span p{
    color: var(--g);
}


/* main5 end */

/* footer */
footer {
    padding: 20px 80px;
    width: 100%;
    color: var(--w);
    background-color: var(--b);
    display: block;
}

.ihcl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ihcl .subscribe {
    padding: 35px 0;
}

.ihcl .subscribe .sub span {
    color: var(--g);
    font-size: 18px;
    font-weight: bold;
}

.inp input {
    padding: 10px 0;
    border: none;
    outline: none;
    color: var(--w);
    background-color: transparent;
    border-bottom: 1px solid var(--g);
    margin: 14px 0;
    font-size: 18px;
}

.inp button {
    background-color: var(--g);
    margin: 14px 7px;
    padding: 10px;
    font-size: 18px;
}

.book, .customer {
    margin: 14px 0;
}

.book span, .customer span {
    color: var(--g);
    font-size: 20px;
    font-weight: bold;
}

.book .bc, .customer .cs {
    display: flex;
    width: 50%;
    justify-content:space-between ;
    flex-wrap: wrap;

}

.book .bc a, .customer .cs a {
    text-decoration: none;
    color: var(--gr);
    margin: 10px 0;
    font-size: 18px;
}

.ihcl .linksf {
    padding: 35px 0;
}

.ihcl .linksf span {
    color: var(--g);
    font-size: 20px;
    font-weight: bold;
}

.linksf .lnk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.linksf .lnk a {
    padding-right: 50px;
    text-decoration: none;
    color: var(--gr);
    margin: 5px 0;
    font-size: 20px;
}

.ihcl .connect {
    padding: 35px 0;
}

.ihcl .connect span {
    color: var(--g);
    font-size: 20px;
    font-weight: bold;
}

.connect .logob {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.connect i img {
    margin: 10px 10px 00px 0px;
    width: 30px;
    height: 30px;
}

.destination {
    display: flex;
    font-size: 20px;
    padding: 20px 0;
    font-weight: bolder;
    justify-content: space-between;
}

.destination .des {
    color: var(--g);
}

.brand h1 {
    margin: 20px 0;
}

.brand .logob {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.brand i img {
    margin: 20px 0;
    margin-right: 30px;
    width: 110px;
    height: 80px;
}

.copy {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--g);
}

.copyl {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.copyl div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.copyl div a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--gr);
    font-size: 12px;
}
