* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100vh;
    color: white;
}

header video {
    height: 100%;
    width: 100%;
}

header nav {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 10px black;
}

header nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

#a {
    height: 60px;
    width: 60px;
    background-image: url(./asd.jpg);
    background-size: 100% 100%;
}

.links {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: rgb(188, 181, 0);
}

#s {
    margin-left: 100px;
}

.btn {
    border: none;
    padding: 14px;
    background-color: rgb(188, 181, 0);
}

.btn .links {
    color: white;
}

section {
    width: 100%;
    flex-grow: 1;
}

section main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

section main .mh {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section main .mh h1 {
    font-family: 'Courier New', Courier, monospace;
    margin: 50px 20px;
    font-size: 200%;
    color: grey;
}

.aft, .bef {
    font-family: 'Courier New', Courier, monospace;
    height: 0.4vh;
    width: 10%;
    background-color: grey;
}

section main .mp {
    text-align: center;
    width: 50%;
}

section main .dimg {
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

.dimg div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dimg div img {
    width: 99%;
    height: 60vh;
}

.dimg div span {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    position: relative;
    bottom: 10vh;
    font-size: 25px;
    color: white;
}

/* footer */
footer {
    padding: 20px 80px;
    width: 100%;
    color: white;
    background-color: black;
    display: block;
}

.ihcl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ihcl .subscribe {
    padding: 35px 0;
}

.ihcl .subscribe .sub span {
    color: grey;
    font-size: 18px;
    font-weight: bold;
}

.inp input {
    padding: 10px 0;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    border-bottom: 1px solid grey;
    margin: 14px 0;
    font-size: 18px;
}

.inp button {
    background-color: grey;
    margin: 14px 7px;
    padding: 10px;
    font-size: 18px;
}

.book, .customer {
    margin: 14px 0;
}

.book span, .customer span {
    color: rgb(107, 105, 105);
    font-size: 20px;
    font-weight: bold;
}

.book .bc, .customer .cs {
    display: flex;
    width: 50%;
    justify-content:space-between ;
    flex-wrap: wrap;

}

.book .bc a, .customer .cs a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 10px 0;
    font-size: 18px;
}

.ihcl .linksf {
    padding: 35px 0;
}

.ihcl .linksf span {
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.linksf .lnk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.linksf .lnk a {
    padding-right: 50px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 5px 0;
    font-size: 20px;
}

.ihcl .connect {
    padding: 35px 0;
}

.ihcl .connect span {
    color: grey;
    font-size: 20px;
    font-weight: bold;
}

.connect .logob {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.connect i img {
    margin: 10px 10px 00px 0px;
    width: 30px;
    height: 30px;
}

.destination {
    display: flex;
    font-size: 20px;
    padding: 20px 0;
    font-weight: bolder;
    justify-content: space-between;
}

.destination .des {
    color: grey;
}

.brand h1 {
    margin: 20px 0;
}

.brand .logob {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.brand i img {
    margin: 20px 0;
    margin-right: 30px;
    width: 110px;
    height: 80px;
}

.copy {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: grey;
}

.copyl {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.copyl div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.copyl div a {
    text-decoration: none;
    padding: 0 10px;
    color: rgb(200, 200, 200);
    font-size: 12px;
}
