*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
}
header{
    width: 100%;
    height: 100%;
    color: white;
}
header video{
    height: 100%;
    width: 100%;
}
header nav{
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, .5); */
}
header nav ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header nav ul li{
    list-style: none;
}
#a{
    height: 60px;
    width: 60px;
    background-image: url(./asd.jpg);
    background-size: 100% 100%;
}
.links{
    text-decoration: none;
    color: white;
}
#s{
    margin-left: 100px;
}
.btn{
    border: none;
    padding: 14px;
    background-color: rgb(188, 181, 0);
}
section{
        width: 100%;
        height: 100%;
}
footer{
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: black;
    display: block;
}
.ihcl{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ihcl .subscribe{
    padding: 35px 0;
}
.ihcl .subscribe .sub span{
    color: grey;
    font-size: 18px;
    font-weight: bold;

}
.inp input{
    padding: 10px 0;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    border-bottom: 1px solid grey;
    margin: 14px 0;
    font-size: 18px;
}
.inp button{
    background-color: grey;
    margin: 14px 7px;
    padding: 10px;
    font-size: 18px;
}
.book, .customer{
    margin: 14px 0;
}
.book span, .customer span{
    color: rgb(107, 105, 105);
    font-size: 20px;
    font-weight: bold;

}
.book .bc, .customer .cs{
    display: flex;
    justify-content: space-between;
}
.book .bc a, .customer .cs a{
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 10px 0;
    margin-right: 10px;
    font-size: 18px;
}

.ihcl .linksf{
    padding: 35px 0;
}
.ihcl .linksf span{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}
.linksf .lnk{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.linksf .lnk a{
    padding-right:50px;
    text-decoration: none;
    color: rgb(200, 200, 200);
    margin: 5px 0;
    font-size: 20px;
}
.ihcl .connect{
    padding: 35px 0;
}
.ihcl .connect span{
    color: grey;
    font-size: 20px;
    font-weight: bold;
}
.connect i img{
    margin: 10px 10px 00px 0px;
    width: 30px;
    height: 30px;
}
.destination{
    display: flex;
    font-size: 20px;
    padding: 20px 0;
    font-weight: bolder;
    justify-content: space-between;
}
.destination .des{
    color: grey;
}
.brand h1{
    margin: 20px 0;
}
.brand .logoc{
    display: flex;
    justify-content: flex-start;
}
.brand i img{
    margin: 20px 0;
    margin-right: 30px;
    width: 110px;
    height: 80px;
}
.copy{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    color: grey;
}
.copyl{
    display: flex;
    flex-direction: column;
}
.copyl div{
    display: flex;
    justify-content: flex-end;
}
.copyl div a{
    text-decoration: none;
    padding: 0 10px;
    color: rgb(200, 200, 200);
    font-size: 12px;
}